<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty JMS AMQP Sample">
  <remoteFileAccess>
    <writeDir>${server.config.dir}</writeDir>
  </remoteFileAccess>

  <!-- Enable features -->
  <featureManager>
    <feature>javaee-7.0</feature>
    <feature>jmsMdb-3.2</feature>
    <feature>wasJmsClient-2.0</feature>
    <feature>jndi-1.0</feature>
    <feature>adminCenter-1.0</feature>
    <feature>jms-2.0</feature>
    <feature>appSecurity-2.0</feature>
    <feature>passwordUtilities-1.0</feature>
    <feature>jca-1.7</feature>
  </featureManager>

  <quickStartSecurity userName="admin" userPassword="CHANGE_ME"/>

  <keyStore id="defaultKeyStore" password="CHANGE_ME"/>

  <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

  <applicationManager autoExpand="true"/>

  <resourceAdapter id="GenericJMSRA" location="C:/IBM/liberty/adapters/genericra.rar">
    <properties.GenericJMSRA ConnectionFactoryClassName="com.rabbitmq.jms.admin.RMQConnectionFactory" />
    <properties.GenericJMSRA QueueConnectionFactoryClassName="com.rabbitmq.jms.admin.RMQConnectionFactory" />
    <properties.GenericJMSRA QueueClassName="com.rabbitmq.jms.admin.RMQDestination" />
    <properties.GenericJMSRA ConnectionFactoryProperties="VirtualHost=/,Host=localhost" />
    <properties.GenericJMSRA DeliveryType="Synchronous" />
    <properties.GenericJMSRA ProviderIntegrationMode="javabean" />
    <properties.GenericJMSRA userName="guest" />
    <properties.GenericJMSRA password="${env.RMQ_PASSWORD}" />
  </resourceAdapter>

  <jmsQueue id="jms/RMQQueue" jndiName="jms/RMQQueue">
    <properties.GenericJMSRA DestinationType="javax.jms.Queue" />
    <properties.GenericJMSRA DestinationProperties="Amqp=true,AmqpExchangeName=qwyck.direct,AmqpRoutingKey=hello,AmqpQueueName=HelloQueue" />
  </jmsQueue>

  <jmsConnectionFactory id="jms/RMQConnectionFactory" jndiName="jms/RMQConnectionFactory">
    <properties.GenericJMSRA />
  </jmsConnectionFactory >

  <!-- MDB Activation Spec -->
  <jmsActivationSpec id="jms/RMQActivationSpec">
    <properties.GenericJMSRA DestinationType="javax.jms.Queue" />
    <properties.GenericJMSRA DestinationProperties="Amqp=true,AmqpExchangeName=qwyck.direct,AmqpRoutingKey=hello,AmqpQueueName=HelloQueue" />
  </jmsActivationSpec>
</server>