<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd"
    id="WebApp_ID">

  <display-name>Liberty JMS AMQP Sample</display-name>

  <servlet id="JMSSender">
    <servlet-name>sender</servlet-name>
    <display-name>sender</display-name>
    <servlet-class>net.qwyck.samples.libertyamqp.web.JMSSenderServlet</servlet-class>
    <load-on-startup></load-on-startup>
  </servlet>

  <servlet-mapping id="ServletMapping_Default">
    <servlet-name>sender</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>